@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
.special-font {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
.card-disp {
  display: inline-block;
  /* justify-content: space-between; */
  margin: 40px;
  width: 100%;
}
.card-image-disp {
  /* width: auto; */
  height: 250px;
}
.dark-light {
  position: fixed;
  right: 3px;
}
